<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goldwater.querycenter.dao.rw.ruku.QbtjDao">
    <resultMap id="result_st_pptn_r" type="com.goldwater.querycenter.entity.ruku.SingleHourRain">
        <result property="stcd" column="STCD"/>
        <result property="tm" column="TM"/>
        <result property="drp" column="DRP"/>
        <result property="intv" column="INTV"/>
        <result property="pdr" column="PDR"/>
        <result property="dyp" column="DYP"/>
        <result property="wth" column="WTH"/>
    </resultMap>

    <resultMap id="result_st_river_r" type="com.goldwater.querycenter.entity.ruku.SingleHourRiver">
        <result property="stcd" column="STCD"/>
        <result property="tm" column="TM"/>
        <result property="z" column="Z"/>
        <result property="q" column="Q"/>
        <result property="xsa" column="XSA"/>
        <result property="xsavv" column="XSAVV"/>
        <result property="xsmxv" column="XSMXV"/>
        <result property="flwchrcd" column="FLWCHRCD"/>
        <result property="wptn" column="WPTN"/>
        <result property="msqmt" column="MSQMT"/>
        <result property="msamt" column="MSAMT"/>
        <result property="msvmt" column="MSVMT"/>
    </resultMap>

    <resultMap id="result_singlervffch_vo" type="com.goldwater.querycenter.entity.ruku.vo.SingleRvffchVo">
        <result property="stnm" column="STNM"/>
        <result property="ldkel" column="LDKEL"/>
        <result property="rdkel" column="RDKEL"/>
        <result property="wrz" column="WRZ"/>
        <result property="wrq" column="WRQ"/>
        <result property="grz" column="GRZ"/>
        <result property="grq" column="GRQ"/>
        <result property="flpq" column="FLPQ"/>
        <result property="obhtz" column="OBHTZ"/>
        <result property="obhtztm" column="OBHTZTM"/>
        <result property="ivhz" column="IVHZ"/>
        <result property="ivhztm" column="IVHZTM"/>
        <result property="obmxq" column="OBMXQ"/>
        <result property="obmxqtm" column="OBMXQTM"/>
        <result property="ivmxq" column="IVMXQ"/>
        <result property="ivmxqtm" column="IVMXQTM"/>
        <result property="hmxs" column="HMXS"/>
        <result property="hmxstm" column="HMXSTM"/>
        <result property="hmxavv" column="HMXAVV"/>
        <result property="hmxavvtm" column="HMXAVVTM"/>
        <result property="hlz" column="HLZ"/>
        <result property="hlztm" column="HLZTM"/>
        <result property="hmnq" column="HMNQ"/>
        <result property="hmnqtm" column="HMNQTM"/>
        <result property="taz" column="TAZ"/>
        <result property="taq" column="TAQ"/>
        <result property="laz" column="LAZ"/>
        <result property="laq" column="LAQ"/>
        <result property="sfz" column="SFZ"/>
        <result property="sfq" column="SFQ"/>
        <result property="modiTime" column="MODITIME"/>
    </resultMap>

    <resultMap id="result_st_zvarl_b" type="com.goldwater.querycenter.entity.ruku.SingleRZWRelation">
        <result property="mstm" column="MSTM"/>
        <result property="ptno" column="PTNO"/>
        <result property="rz" column="RZ"/>
        <result property="w" column="W"/>
        <result property="wsfa" column="WSFA"/>
        <result property="modiTime" column="MODITIME"/>
    </resultMap>

    <resultMap id="result_st_zqrl_b" type="com.goldwater.querycenter.entity.ruku.SingleZqrlRelation">
        <result property="bgtm" column="BGTM"/>
        <result property="ptno" column="PTNO"/>
        <result property="z" column="Z"/>
        <result property="q" column="Q"/>
        <result property="lnnm" column="LNNM"/>
        <result property="modiTime" column="MODITIME"/>
    </resultMap>

    <select id="queryRain" resultType="java.util.HashMap">
        SELECT B.STCD,B.STNM
        <foreach collection="list" item="info" separator="">
            ,#{info.columnName}
        </foreach>
        from ST_STBPRP_B B
        <foreach collection="list" item="info" separator="">
            left join (SELECT STCD,COUNT(TM) as #{info.columnName} FROM ST_PPTN_R WHERE to_char(TM,'yyyy-mm-dd hh24:mi') = #{info.tm} GROUP BY STCD) #{info.tableName}
            on B.STCD = #{info.tableName}.STCD
        </foreach>
        where B.STTP='PP'
        <if test="stdm!=null and stdm!=''">
            AND B.STCD = #{stdm}
        </if>
    </select>
</mapper>
