<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goldwater.querycenter.dao.ycdb.ruku.TacklDao">
    <resultMap id="result_tackl" type="com.goldwater.querycenter.entity.ruku.vo.TacklVo">
        <result property="stcd" column="STCD"/>
        <result property="stnm" column="STNM"/>
        <result property="tm" column="TM"/>
        <result property="itm" column="ITM"/>
        <result property="fval" column="FVAL"/>
        <result property="val" column="VAL"/>
        <result property="dyp" column="DYP"/>
    </resultMap>

    <select id="queryTackl_Level3" resultMap="result_tackl">
        SELECT A.STCD, B.STNM, CONVERT(varchar(100), A.TM, 20) TM, CONVERT(varchar(100), A.ITM, 20) ITM,A.FVAL,A.VAL,A.DYP
        FROM ST_PRIVILEGE_STCDS P LEFT JOIN ST_TACKL_R A ON P.STCD=A.STCD
        LEFT JOIN (SELECT STCD8 ,MAX(STNM) STNM FROM  RTUEX.DBO.RTU_STATION GROUP BY STCD8 ) B ON A.stcd=B.stcd8
        WHERE P.PRIVILEGE_ID = #{priviligeId}
        <if test="dyp!=null and dyp!=''">
            AND A.DYP = #{dyp}
        </if>
        <if test="stdm!=null and stdm!=''">
            AND A.STCD = #{stdm}
        </if>
        <if test="startTm!=null and startTm!=''">
            AND A.ITM >= #{startTm}
        </if>
        <if test="endTm!=null and endTm!=''">
            AND A.ITM &lt;= #{endTm}
        </if>
    </select>

    <select id="queryTackl" resultMap="result_tackl">
        SELECT A.STCD,B.STNM,CONVERT(varchar(100), A.TM, 20) TM,CONVERT(varchar(100), A.ITM, 20) ITM,A.FVAL,A.VAL,A.DYP
        FROM ST_TACKL_R A LEFT JOIN (SELECT STCD8 ,MAX(STNM) STNM FROM  RTUEX.DBO.RTU_STATION GROUP BY STCD8 ) B on A.stcd=B.stcd8
        WHERE 1=1
        <if test="dyp!=null and dyp!=''">
            AND A.DYP = #{dyp}
        </if>
        <if test="stdm!=null and stdm!=''">
            AND A.STCD = #{stdm}
        </if>
        <if test="startTm!=null and startTm!=''">
            AND A.ITM >= #{startTm}
        </if>
        <if test="endTm!=null and endTm!=''">
            AND A.ITM &lt;= #{endTm}
        </if>
    </select>
</mapper>
